<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件，存放SQL namespace是映射文件的唯一标志 -->
<mapper namespace="org.tedu.com.dao.UserDao">

    <!--更加username查询所有用户-->
    <select id="selectAll" parameterType="String" resultType="org.tedu.com.entity.User">
        select * from  user where username=#{name}
    </select>


</mapper>
